<!DOCTYPE html>
<!-- Copyright 2011 Theodore Boyd -->
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% if title %}{{ title }} - {% endif %}Theo Boyd's App</title>

    {% block css %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css" />
    <script src="/static/scripts/jquery.js"></script>
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div class="toolbars">
      <div class="toolbar">
        <a class="left{% if home_active %} active{% endif %}" id="logo" href="{% url views.Home %}">Home</a>
        <!--a class="left{% if postings_active %} active{% endif %}" href="{% url views.PostingsView %}">Postings</a-->
        <a class="left{% if scores_active %} active{% endif %}" href="{% url views.ScoresView %}">Play</a>
        <a class="left{% if leaders_active %} active{% endif %}" href="{% url views.LeadersView %}">Leaderboard</a>
        <a class="right" href="{{ login_url }}">{{ login_linktext }}{% if user %} {{ user }}{% endif %}</a>
        <a class="left{% if comments_active %} active{% endif %}" href="{% url views.CommentsView %}">Feedback</a>
      </div>
    {% block subtoolbar %}
    {% endblock %}
    </div>
    <div class="columns">
      <div id="content">
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js %}
    {% endblock %}
  </body>
</html>
