{% extends "base.html" %}
{% block body %}
  <div><a href="{{ url }}">{{ url_linktext }}</a><br /><br /></div>
  <div>
  {% for greeting in greetings %}
    {% if greeting.author %}
      <b>{{ greeting.author.nickname }}</b> wrote:
    {% else %}
      An anonymous person wrote:
    {% endif %}
    <blockquote>{{ greeting.content|escape }}</blockquote>
  {% endfor %}
  </div>
  <div>
  {% if user %}
  <form action="/guestbook/sign" method="post">
    <div><textarea name="content" rows="3" cols="60"></textarea></div>
    <div><input type="submit" value="Sign Guestbook"></div>
  </form>
  {% endif %}
  </div>
{% endblock %}
