{% extends "base_view.html" %}
{% load humanize %}
{% block view_for %}
  {% for leader in leaders %}
    <div class="outline tag">
      <span class="tag left"><strong>
      {% if leader.player.name %}{{ leader.player.name }}{% else %}
      {% if leader.player.email %}{{ leader.player.email }}{% else %}Anonymous{% endif %}{% endif %}
      </strong> played <strong>{{ leader.action }}</strong> and scored:</span>
      <span class="tag right">
      <em>{{ leader.date.date|naturalday }} {{ leader.date.time|time:"G:i" }}</em>
      </span>
      <br />
      <blockquote>{{ leader.value|escape }}</blockquote>
    </div>
    <div class="whitespace"></div>
  {% endfor %}
{% endblock %}
