{% extends "base_view.html" %}
{% load humanize %}
{% block view_for %}
  {% for leader in leaders %}
    <div class="outline tag">
      <span class="tag left"><strong>
      {% if leader.user.nickname %}{{ leader.user.nickname }}{% else %}
      {% if leader.user.email %}{{ leader.user.email }}{% else %}Anonymous{% endif %}{% endif %}
      </strong> played <strong>{{ leader.score_history }}</strong> and now has a score of:</span>
      <span class="tag right">
      <em>{{ leader.date.date|naturalday }} {{ leader.date.time|time:"G:i" }}</em>
      </span>
      <br />
      <blockquote>{{ leader.score|escape }}</blockquote>
    </div>
    <div class="whitespace"></div>
  {% endfor %}
{% endblock %}
