{% extends "base_view.html" %}
{% load humanize %}
{% block view_for %}
  {% for leader in leaders %}
    <div class="outline tag">
      <span class="tag left"><b>
      {% if leader.name %}{{ leader.name }}{% else %}Anonymous{% endif %}
      </b> played with the ??? strategy and scored:</span>
      <span class="tag right">
      <em>{{ leader.date.date|naturalday }} {{ leader.date.time|time:"G:i" }}</em>
      {% if is_admin %}
        <a class="error tag" href="{% url views.LeadersDelete key=leader.key %}">X</a>
      {% endif %}
      </span>
      <br />
      <blockquote>{{ leader.value|escape }}</blockquote>
    </div>
    <div class="whitespace"></div>
  {% endfor %}
{% endblock %}
{% block view_add_url %}{% url views.LeadersAdd %}{% endblock %}
{% block view_data_name %}content{% endblock %}
