{% extends "base.html" %}
{% load humanize %}
{% block content %}
  <div>
  {% if user %}
  <form action="{% url views.ScoresAdd %}" method="post">
    <div>
      <input class="active tag left fill-half" name="action" type="submit" value="Cooperate">
      <input class="active tag right fill-half" name="action" type="submit" value="Defect">
    </div>
  </form>
  {% else %}
    <span class="info tag">Please sign in to submit</span>
  {% endif %}
  </div>
  <div>
  <br /><br />
  Your play history:<br /><br />
  {% for score in scores %}
    <div class="outline tag">
      <span class="tag left"><b>You</b> decided to {{ score.action }} and scored:</span>
      <span class="tag right">
      <em>{{ score.date.date|naturalday }} {{ score.date.time|time:"G:i" }}</em>
      {% if is_admin %}
        <a class="error tag" href="{% url views.ScoresDelete key=score.key %}">X</a>
      {% endif %}
      </span>
      <br />
      <blockquote>{{ score.value|escape }}</blockquote>
    </div>
    <div class="whitespace"></div>
  {% endfor %}
  </div>
{% endblock %}
