{% extends "base.html" %}
{% load humanize %}
{% block content %}
  <div>
  {% if user %}
  <form action="{% url views.ScoresAdd %}" method="post">
    <div>
      <button class="active tag left fill-half" name="action" type="submit" value="C">Cooperate</button>
      <button class="active tag right fill-half" name="action" type="submit" value="D">Defect</button>
    </div>
  </form>
  {% else %}
    <span class="info tag">Please sign in to play and view your play history</span>
  {% endif %}
  </div>
  <div>
  <br /><br /><br />
  {% if user %}Your play history (C: cooperate, D: defect):<br /><br />
    {% for score in scores %}
      <div class="outline tag">
        <strong>You played {{ score.0 }}</strong> and the computer played {{ score.2 }}, giving you <strong>{{ score.1 }} points</strong> and the computer {{ score.3 }} points.</span>
      </div>
      <div class="whitespace"></div>
    {% endfor %}
    {% if is_admin %}
      <a class="error tag" href="{% url views.ScoresDelete %}">Delete Entire Score History</a>
    {% endif %}
  {% endif %}
  </div>
{% endblock %}
