/* Copyright 2008-2011 Theodore Boyd */

/* Top, Right, Bottom, Left */
span, object {
   display: inline;
}

body {
   background: #ffffff;
   line-height: 100%;
   overflow: auto;
   font-family: Helvetica, sans-serif;
   color: #000000;
   margin: 0px; /* Some auto-marginate otherwise */
}

section.body, header.body, footer.body {
   margin: 25px 25px 25px 35px;
}

table, td, tr, th {
   border: 1px solid #dddddd;
   padding: 4px;
   border-collapse: collapse;
}

/* Table-related */
.tag {
   border: 1px solid #000000;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}

/* Table-related */
.notbottom {
   border-bottom: 1px dashed #000000;
   -moz-border-radius-bottomleft: 0px;
   -moz-border-radius-bottomright: 0px;
   -webkit-border-bottom-left-radius: 0px;   -webkit-border-bottom-right-radius: 0px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
}

/* Table-related */
.nottop {
   -moz-border-radius-topleft: 0px;
   -moz-border-radius-topright: 0px;
   -webkit-border-top-left-radius: 0px;
   -webkit-border-top-right-radius: 0px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
}

.plain {
   border: 4px;
}

header {
   font-size: 200%;
   display: block;
}

footer {
   font-size: 60%;
   display: block;
}

section.body, article, aside, nav, dialog, figure {
   display: block;
   padding: 5px 0px 25px 0px;
}

p {
   padding: 0px 0px 0px 0px;
}

a {
   font-weight: bold;
}

a.link:hover {
   background: #88aaff;
}

a.error:hover {
   background: #ffaa88;
}

a.info:hover {
   background: #ddffef;
}

a.gold:hover {
   background: #ffff99;
}

.smallprint {
   font-size: 60%;
}

/* .tag styles, implied by status type */
.link, .error, .info, .gold {
   color: #000000;
   text-decoration: none;
   padding: 2px 6px 2px 6px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}

.link {
   background: #6688ff;
}

.error {
   background: #ff8866;
}

.info {
   background: #bbffdd;
}

.gold {
   background: #ffff66;
}

.outline {
   padding: 2px 2px 2px 2px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   border: 1px solid #000000;
}

.whitespace {
   height: 10px;
}

img {
   border: none;
}

img.icon {
   width: 20px;
   height: 20px;
   margin: 0px 0px -5px 0px;
}

img.footer-icon {
   width: 12px;
   height: 12px;
   margin: 0px 0px -1px -5px;
}

img.thumb {
   width: 48px;
   height: 48px;
   margin: 0px 0px -5px 0px;
}

img.barcode {
   width: 100px;
   height: 100px;
   margin: 0px 0px 0px 0px;
}

.super {
   vertical-align: top;
}

.midline {
   vertical-align: middle;
   display: inline;
}

.button {
   display: inline-block;       
   overflow: visible;       
   border: 1px solid #dddddd;       
   background: #eeeeff;
   margin: 0 10px 0 0;
   padding: 5px 10px 5px 10px;
   color: #000000;
   cursor: pointer;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   line-height: 15px!important;
   text-align: center;
   text-decoration: none;
   float: right;
}

.tab {
   -moz-border-radius: 0px;
   -webkit-border-radius: 0px;
   border-radius: 0px;
   float: left;
   border-bottom: 0px;
}

.button.tab.default {
   border-bottom: 0px;
}

.button.default {
   background: #6688ff;
   border: 1px solid #4466dd;
   color: #000000;
}

.button:hover, .button:focus, .button:active {
   background: #fafaff;
}

.button.tab.default:hover {
   background: #6688ff;
   cursor: default;
}

.button.default:hover {
   background: #88aaff;
}

.tabframe {
   padding: 10px;
   overflow: hidden;
   background: #eeeeee;
   border: 1px solid #dddddd;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   clear: both;
}

.tabbar {
   padding: 0px;
   overflow: hidden;
   border-bottom: 1px solid #4466dd;
   clear: both;
}

.tall {
   line-height: 120%;
}

.searchtip {
   float: left;
   cursor: default;
}

/* Main styles end */

/* Begin experimental styles */

.fixed-footer {
   background: #eeeeee;
   border-top: 1px solid #cccccc;
   position: fixed;
   bottom: 0px;
   width: 85%;
   margin-left: auto;
   margin-right: auto;
   /*margin: 0px;*/
   padding: 0px;
   /*height: 32px;*/
}

.wrapper, .container {
   height: 60%;
   width: 60%;
}

.wrapper {
   bottom: 50%;
   right: 50%;
   position: absolute;
}

.container {
   left: 50%;
   /*padding: 10px;*/
   position: absolute; /*relative;*/
   top: 50%;
}

#superoverlaybonanza {
   opacity: 0.8;
   font-weight: bold;
   font-size: 200%;
   background: #000000;
}

#superoverlaybonanza-inner {
   padding: 25px 25px 25px 25px;
   margin: 25px 25px 25px 25px;
}

.iframe {
   border: none;
   width: 100%;
}

