/* Copyright 2008-2011 Theodore Boyd */

span, object {
  display: inline;
}

body {
  background: #ffffff;
  line-height: 100%;
  overflow: auto;
  font-family: Helvetica, sans-serif;
  color: #000000;
  margin: 0px; /* Some auto-marginate otherwise */
}

table, td, tr, th {
  border: 1px solid #dddddd;
  padding: 4px;
  border-collapse: collapse;
}

blockquote {
  word-wrap: break-word;
}

input, textarea {
  border: 0px;
  font-size: 100%;
}

input {
  cursor: pointer;
}

section.body, article, aside, nav, dialog, figure {
  display: block;
  padding: 5px 0px 25px 0px;
}

p {
  padding: 0px 0px 0px 0px;
}

a {
  color: #0000bb;
  text-decoration: none;
}

.tag {
  color: #000000;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border: 1px solid #ffffff;
}

.outline {
  padding: 2px 2px 2px 2px;
  border: 1px solid #000000;
}

.fill-most {
  width: 88%;
}

.fill-half {
  width: 48%;
}

.fill-some {
  width: 9%;
}

.whitespace {
  height: 10px;
}

img {
  border: none;
}

.toolbars {
  display: table;
  width: 100%;
}

.toolbar {
  background-color: #dddddd;
  display: table-row;
}

.toolbar.sub {
  padding: 2px;
  background-color: #00cc14;
  display: table-row;
}

.toolbar img {
  padding-left: 10px;
  height: 16px;
  vertical-align: middle;
}

.toolbar a {
  padding: 10px;
  border-right: 1px solid #cccccc;
  vertical-align: middle;
  height: 16px;
  display: block;
}

.toolbar a:hover, .toolbar a:focus, .toolbar a:active {
  background: #cccccc;
}


.left {
  float: left;
}

.right {
  float: right;
}

.columns {
  margin: 10px;
}

ul.column{
	width: 100%;
	padding: 0px;
	margin: 10px 0px;
	list-style: none;
}

ul.column li {
	float: left;
	width: 350px; /* Set default width */
	padding: 0px;
	margin: 5px 0px;
	display: inline;
}

.block {
	height: 250px; /* Set default height */
	font-size: 1em;
	margin-right: 10px;
	padding: 20px;
	background: #e3e1d5;
}

.block img {
	width: 89%;
	padding: 5%;
	background: #ffffff;
	margin: 0px auto;
	display: block;
}

/* Colour scheme */
.link {
  background: #4488ff;
}

.error {
  background: #ff8866;
}

.info {
  background: #ffffdd;
}

.gold {
  background: #ffff66;
}

.active {
  background: #00cc14;
}

.link:hover {
  background: #66aaff !important;
}

.error:hover {
  background: #ffaa88 !important;
}

.info:hover {
  background: #ffffee !important;
}

.gold:hover {
  background: #ffff99 !important;
}

.active:hover {
  background: #20e030 !important;
}
